#h1 {
    /* font-weight:normal; */
    font-weight: 100;

}

#h2 {
    /* font-weight:bold; */
    font-weight: 250;
}

#h3 {
    /* font-weight: lighter; */
    /* font-weight: bolder; */
    font-weight: 600;
}
#h4 {
    font-weight:900;
}

/* p {
    text-align:center;
} */
#one {
    font-family:arial;
}
#two {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#three {
        font-size: 25px;
        line-height:50px;
        /* text-transform: lowercase; */
        /* text-transform: uppercase; */
        text-transform: capitalize;

}

div {
    height:100px;
    width:100px;
    background-color:pink;
    /* border-width: 2px;
    border-style: solid;
    border-color: brown; */
    border: 2px solid brown;
    /* text-align: right; */
    /* border-radius: 50px; */
    /* padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px; */

    /* padding: 25px;  */
    padding: 1px 2px 3px 4px;
    /* margin-top: 50px; */
    margin: 25px;
    padding: 25px;
    
}
h1 {
    width:200px;
    height:50px;
    background-color: aquamarine;
    border-width: 3px;
    border-style: dashed;
    border-color:black;
    text-align:center;
}
